@page
@model OdeToFood.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<h1>Restaurants</h1>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-info">@Model.Message</div>
}

<form method="get">
    <div class="form-group">
        <div class="input-group mb-3">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <div class="input-group-append">
                <button class="btn btn-secondary">
                    <i class="bi bi-search d-flex justify-content-center"></i>
                </button>
            </div>
        </div>
    </div>
</form>

@foreach(var restaurant in Model.Restaurants)
{
    <partial name="_Summary" model="restaurant" />
}

<a asp-page="./Edit" class="btn btn-primary">Add New Restaurant</a>

@section footer {
    @Model.Message
}